/*
  Resetting some default styles.
*/

body,
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
hr, dd, dl, ol, ul,
figure, iframe, audio, video, table {
  margin: 0;
  padding: 0;
}

/*
  Basic styling.
*/

html {
  background-color: rgb(var(--background-color));
  font: normal 16px/1.65 "Favorit", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  color: rgb(--title-color);
  font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -webkit-font-feature-settings: "kern" 1;
  font-kerning: normal;
}

p, ul, ol, dl,
h1, h2, h3, h4, h5, h6,
table, blockquote, pre,
figure, iframe, audio, video {
  margin-bottom: 1rem;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 0;
  width: 100%;
  border: 2px dashed var(--title-color);
}

/*
  Links
*/

a {
  color: rgb(var(--accent-color));
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-decoration-style: wavy;
}

a:visited {
  text-decoration: underline;
  text-decoration-style: double;
}

/*
  Headings
*/

h1, h2, h3, h4, h5, h6 {
  font-family: var(--title-font);
  font-weight: var(--title-font-weight);
  line-height: 1.25;
}

h1 a {
  color: rgb(var(--title-color));
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

/*
  Blockquote
*/

blockquote,
p.npf_quote,
.npf_indented {
  border-left: 3px solid rgba(var(--title-color), .5);
  font-family: Calluna, Georgia, "Times New Roman", "Liberation Serif", serif;
  font-size: 1.25rem;
  padding-left: 1rem;
}

/*
  Lists
*/

ul, ol, dl {
  margin-left: 1.5rem;
}

ul {
  list-style: square;
}

ul ul {
  list-style: disc;
}

ul ul ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

ol ol {
  list-style: lower-alpha;
}

ol ol ol {
  list-style: lower-roman;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-bottom: 0;
}

ul li,
ol li {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

/*
  Media
*/

img, iframe, audio, video {
  max-width: 100%;
}

.post-body iframe,
.post-body audio,
.post-body video,
.post-body img:not([class="avatar"]) {
  width: 100%;
  height: auto;
}

.post-body iframe[src*="youtu"],
.post-body iframe[src*="vimeo"],
.post-body iframe[src*="twitch"],
.post-body video {
  aspect-ratio: 16 / 9;
}

.post-body iframe,
.post-body audio,
.post-body video,
.post-body img:not([class="avatar"]) {
  box-shadow: -5px 5px 0 rgba(var(--accent-color), .25);
  border: 1px solid rgba(var(--title-color), .75);
  padding: 0.5rem;
}
